body, html {
    height: 100%;
  }
  
  .bg {
    /* The image used */
    background-image: url("../images/notchify/gradientbackground.png");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
.inner_notchify
{
    position: absolute;
    right: 2%;
    margin-right: -10px;
    bottom: 0px;
}
.inner_notchify2
{
    position: absolute;
    right: 2%;
    bottom: 230px;
}
.notch_logo
{
    position: absolute;
    top: 21px;
    right: 0;
}
.robot
{
    position: absolute;
    bottom:0;
    left: -1%;
}
.robot-width
{
    width: 1700px !important;
}
.notch-width
{
    width: 305px !important;
}
.messenger-width
{
    width: 200px !important;
}
.whatsapp-width
{
    margin-left: -15px;
    margin-top: 50px;
    width: 220px !important;
}
