body, html {
    height: 100%;
  }
  
  .bg {
    /* The image used */
    background-image: url("../images/notchify/gradientbackground.png");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
.inner_notchify
{
    position: absolute;
    right: 2%;
    margin-right: -10px;
    bottom: 0px;
}
.inner_notchify2
{
    position: absolute;
    right: 2%;
    bottom: 160px;
}
.notch_logo
{
    position: absolute;
    top: 21px;
    right: 0;
}
.robot
{
    position: absolute;
    bottom:0;
    left: -1%;
}
.robot-width
{
    width: 1600px !important;
}
.notch-width
{
    width: 305px !important;
}
.messenger-width
{
    width: 130px !important;
}
.whatsapp-width
{
    margin-left: -15px;
    margin-top: 50px;
    width: 150px !important;
}

@media only screen and (max-width: 767px) /*mobile phones*/
{
    .notch_logo
    {
        top: 5px;
    }
    .notch-width
    {
        width: 205px !important;
    } 
    .messenger-width
    {
        width: 70px !important;
    }
    .whatsapp-width
    {
        margin-right: 5px !important;
        margin-top: 50px;
        width: 84px !important;
    }
    .inner_notchify2
    {
        position: absolute;
        right: 2%;
        bottom: 90px;
    }
    .robot
    {
        position: absolute;
        bottom:0;
        left: -45%;
    }
    .robot-width
    {
        width: 687px !important;
    }
}
@media (min-width:1280px) and (max-width:1365px)
{
    .robot
    {
        left: -10%;
    }
    .robot-width
    {
        width: 1500px !important;
    }
    .whatsapp-width
    {
        width: 120px !important;
    }
    .messenger-width
    {
        width: 105px !important;
    }
    .inner_notchify2
    {
        position: absolute;
        right: 2%;
        margin-right: -3px;
        bottom: 125px;
    }
}
@media (min-width:1366px) and (max-width:1439px)
{
    .robot
    {
        left: 0%;
    }
    .robot-width
    {
        width: 1550px !important;
    }
    .whatsapp-width
    {
        width: 120px !important;
    }
    .messenger-width
    {
        width: 105px !important;
    }
    .inner_notchify2
    {
        position: absolute;
        right: 2%;
        margin-right: -3px;
        bottom: 125px;
    }
}
@media (min-width:1440px) and (max-width:1679px)
{
    .robot
    {
        left: -5%;
    }
    .robot-width
    {
        width: 1550px !important;
    }
    .whatsapp-width
    {
        width: 120px !important;
    }
    .messenger-width
    {
        width: 105px !important;
    }
    .inner_notchify2
    {
        position: absolute;
        right: 2%;
        margin-right: -3px;
        bottom: 125px;
    }
}
@media (min-width:1680px) and (max-width:1777px)
{
    .robot
    {
        left: -1%;
    }
    .robot-width
    {
        width: 1700px !important;
    }
    .whatsapp-width
    {
        width: 120px !important;
    }
    .messenger-width
    {
        width: 105px !important;
    }
    .inner_notchify2
    {
        position: absolute;
        right: 2%;
        margin-right: -3px;
        bottom: 125px;
    }
}
@media (min-width:1921px) and (max-width:2560px)
{
    .robot
    {
        left: 0%;
    }
    .robot-width
    {
        width: 2500px !important;
    }
    .whatsapp-width
    {
        width: 150px !important;
    }
    .messenger-width
    {
        width: 135px !important;
    }
    .inner_notchify2
    {
        position: absolute;
        right: 2%;
        margin-right: -3px;
        bottom: 155px;
    }
}